<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/meat/muttoncurry.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mutton Curry</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Mutton Curry', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/meat/beef_curry.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Beef Curry</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Beef Curry', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/meat/chicken_roast.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chicken Roast</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Chicken Roast', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/meat/Spicy_Chicken_curry.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Spicy Chicken</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Spicy Chicken', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/meat/30453_grilled_chicken_nectarine2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Grilled Chicken</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Grilled Chicken', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/meat/beef_kabab.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Beef Kabab</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Beef Kabab', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/meat/bhuna_chicken.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chicken Bhuna</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Chicken Bhuna', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/meat/shami_kabab.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shami Kabab</h5>
                    <p class="card-text">Price : {{200 | currency:'USD'}}</p>
                    <a (click)="goOrder('Shami Kabab', 200)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/meat/Red-Masala-Curry.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Masala Curry</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Masala Curry', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>