<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant Login</h1>
                    <h5>Feel free to login</h5>
                    <hr>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" placeholder="Email" formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <p>Not an User? Signup <a routerLink="/signup">here</a></p>
            </div>
        </div>
    </div>
</div>