<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/rice/PNS_PLAIN_RICE.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" >Plain Rice</h5>
                    <p class="card-text" >Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Plain Rice', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/rice/chicken_biriyani.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chicken Biriyani</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Chicken Biriyani', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/rice/mutton_biriyani.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mutton Biriyani</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Mutton Biriyani', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/rice/kachchi_biriyani.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kacchi Biriyani</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Kacchi Biriyani', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/rice/dum_biriyani.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dum Biriyani</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Dum Biriyani', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/rice/seafood_biriyani.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Seafood Biriyani</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Seafood Biriyani', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/rice/polao.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pulao</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Pulao', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/rice/basanti_pulao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Basanti Pulao</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Basanti Pulao', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/rice/vegetable_pulao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vegetable Pulao</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Vegetable Pulao', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>