<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sweet/misti-doi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Misti Doi</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Misti Doi', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sweet/Chamcham.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chamcham</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Chamcham', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sweet/Rasgulla.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rasgulla</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Rasgulla', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sweet/rasmalai.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rasmalai</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Rasmalai', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sweet/Rajbhog.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rajvog</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Rajvog', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sweet/Jalebis.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jalebis</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Jalebis', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sweet/kalojam.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kalojam</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Kalojam', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sweet/sandesh-sondesh.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sandesh</h5>
                    <p class="card-text">Price : {{200 | currency:'USD'}}</p>
                    <a (click)="goOrder('Sandesh', 200)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sweet/kachagolla.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kachagolla</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Kachagolla', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>