<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/fish/Hilsha_fish.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hilsha</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Hilsha', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/fish/Pabda_macher_jhol.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pabda</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Pabda', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/fish/telapia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Telapia</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Telapia', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/fish/tengra_mas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tengra</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Tengra', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/fish/puti_mas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Puti</h5>
                    <p class="card-text">Price : {{50 | currency:'USD'}}</p>
                    <a (click)="goOrder('Puti', 50)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/fish/koi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Koi</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Koi', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/fish/maser_kalia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fish Kalia</h5>
                    <p class="card-text">Price : {{150 | currency:'USD'}}</p>
                    <a (click)="goOrder('Fish Kalia', 150)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/fish/bhetki_mas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vetki</h5>
                    <p class="card-text">Price : {{200 | currency:'USD'}}</p>
                    <a (click)="goOrder('Vetki', 200)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/fish/ayer_fish.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fish Curry</h5>
                    <p class="card-text">Price : {{100 | currency:'USD'}}</p>
                    <a (click)="goOrder('Fish Curry', 100)" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>